.profileData {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    font-weight: bold;
    word-break: break-word;
}
.form {
    margin-top: 10px;
    width: 80%;
}
.error {
    color: #f34545;
    margin: 10px 5px;
    font-size: 12px;
}
.btnGroup {
    display: flex;
    justify-content: center;
}
.btn{
    border: 2px solid #CA9CE1;
    height: 40px;
    width: 40%;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.btnEdit{
    background-color: #CA9CE1;
    color: ghostwhite;
    margin-right: 3px;
}
.btnEdit:hover{
    background-color: #d1aae7;
}
.btnCancel{
    background-color: ghostwhite;
    color: #CA9CE1;
}
.btnCancel:hover{
    background-color: white;
}