.dialogsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.dialogs {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.dialogsItem {
    padding: 20px;
    margin: 10px;
}
.dialogsItem .active {
    color: lightpink;
}
.messages {
    padding: 23px;
}
.formMessage{
    margin-top: 20px;
    width: 40%;
}