.field {
    padding: 10px;
}
.remember {
    display: flex;
    align-items: center;
    padding: 10px;
}
.formError {
    margin: 10px 5px;
    font-size: 12px;
    color: crimson;
}
button {
    margin: 10px 15px;
    background-color: #CA9CE1;
    border: 2px solid #CA9CE1;
    height: 40px;
    width: 100px;
    color: ghostwhite;
}